* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
}

.wrapper {
    background: #fff;
    width: 30%;
    /* width: 30vw; */
    border-radius: 7px;
}

.wrapper .header {
    display: flex;
    color: #43affc;
    padding: 15px;
    border-bottom: 1px solid #bfbfbf;
    font-weight: 700;
}

.header {
    font-size: larger;
    display: flex;
    align-content: center;
}

#toparrow {
    margin-right: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
    display: none;
}

#locationweather {
    margin: 1.2em;
}

.message {
    text-align: center;
    padding: 0.7em;
    border-radius: 5px;
    font-size: 0.8em;
    margin-bottom: 0.7em;
    display: none;
}

.message-appended,
.message-error {
    margin-bottom: 0.6em;
    font-size: medium;
    border-radius: 5px;
    text-align: center;
    color: #64a56c;
    border: none;
}

.message-error {
    color: #ff051e;
}

#locationweather input,
button {
    height: 3.5em;
    border: 1px solid #bfbfbf;
    outline: none;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

.line-seperator {
    height: 0.01em;
    background: rgb(167, 163, 163);
    margin:2em 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-seperator::before {
    content: "or";
    background: white;
    padding: 0 0.5em;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: 700;
}

button {
    background: #43affc;
    color: white;
    cursor: pointer;
    border: none;
}

#weather {
    display: none;
}

.city, #userdevicelocation {
    font-size: larger;
}

.location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.loc {
    display: flex;
    font-size: large;
}

.temp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.description {
    display: flex;
    justify-content: center;
    font-size: large;
    margin-bottom: 1rem;
}

.clothing {
    display: flex;
    justify-content: center;
    font-size: large;
}

.buttom-section {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-top: 1px solid #bfbfbf;
    margin-top: 1.5em;
    padding: 0;
    font-size: large;
}

.buttom-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.rightsection {
    border-right: 1px solid #bfbfbf;
}

.icon {
    color: #43affc;
    font-size: 1.5em;
}